<div class="grid mx-auto md:grid-cols-2 lg:grid-cols-4 gap-8">
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
    
    <div class="animate-pulse group rounded-lg border w-[290px] lg:w-full xl:w-full shadow-lg text-center">
        <div class="w-full overflow-hidden rounded-t-lg bg-transparent">
            <img src="../../../assets/error-img.png" alt="error-image" class="h-full w-full object-cover object-center">
        </div>
        <div class="flex flex-col space-y-2 p-4">
            <div class="w-full h-4 text-gray-700"></div>
            <div class="w-full h-4 font-medium bg-gray-200"></div>
            <div class="w-full h-12 font-normal bg-gray-200 "></div>
            <div class="w-full h-4 font-light bg-gray-200"></div>
            <div class="bg-gray-200 h-10 rounded-lg px-2 py-2 w-28 mx-auto ">
        </div>
        </div>
        <a class="text-[10px]" href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Idealogo Studio - Flaticon</a>
    </div>
</div>
