<div class="mt-5">

  <h1 class="text-xl font-semibold mb-5">About</h1>
  <p class="font-medium">
    Lorem ipsum <span Highlight>dolor sit amet consectetur</span> adipisicing elit. Temporibus voluptas totam natus
    cupiditate placeat doloremque magni quod maxime voluptatem nulla deleniti iure, neque officiis est sed quo, eius
    consequuntur sit?
    Lorem ipsum <span Highlight>dolor sit amet consectetur</span> adipisicing elit. Temporibus voluptas totam natus
    cupiditate placeat doloremque magni quod maxime voluptatem nulla deleniti iure, neque officiis est sed quo, eius
    consequuntur sit?
    Lorem ipsum <span Highlight>dolor sit amet consectetur</span> adipisicing elit. Temporibus voluptas totam natus
    cupiditate placeat doloremque magni quod maxime voluptatem nulla deleniti iure, neque officiis est sed quo, eius
    consequuntur sit?
    Lorem ipsum <span Highlight>dolor sit amet consectetur</span> adipisicing elit. Temporibus voluptas totam natus
    cupiditate placeat doloremque magni quod maxime voluptatem nulla deleniti iure, neque officiis est sed quo, eius
    consequuntur sit?
  </p>
  <div class="w-5/6 mt-5 mb-5 mx-auto">
    <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" />
    <app-wave-audio audioUrl="/assets/03_Another_one_bites_the_dust.mp3" />
  </div>
</div>

