<div class="flex lg:space-x-4 mt-5">
  <div class="w-72 hidden lg:block">
    <ul class="">
      <li>
        <a
        routerLink="/"
        routerLinkActive="underline"
        [routerLinkActiveOptions]="{exact: true}"
        >All
        </a>
      </li>
      <li class="mt-4 py-2 capitalize hover:underline duration-1000" *ngFor="let category of categories()">
        <a
          data-testId="product-category-title"
          routerLink="/"
          [queryParams]="{ categoryId: category.id }"
          routerLinkActive="underline"
          [routerLinkActiveOptions]="{exact: true}"
          >{{ category.name }}</a>
      </li>
    </ul>
  </div>


<div *ngIf="products().length !== 0; else productSkeleton" class="grid mx-auto md:grid-cols-2 lg:grid-cols-4 gap-8 ">
  <app-product
  *ngFor="let product of products()"
  [product]="product"
  (addToCart)="addToCart($event)"/>
</div>
<ng-template #productSkeleton>
  <div class="grid mx-auto md:grid-cols-2 lg:grid-cols-4 gap-8">
    <app-product-skeleton/>
    <app-product-skeleton/>
    <app-product-skeleton/>
    <app-product-skeleton/>
    <app-product-skeleton/>
    <app-product-skeleton/>
    <app-product-skeleton/>
    <app-product-skeleton/>
  </div>
</ng-template>

</div>
