<nav class="border-b border-gray-400">
  <div
    class="w-full flex flex-wrap items-center justify-between mx-auto py-4"
  >
    <div class="flex relative items-center space-x-8">
      <app-menu-mobile />
      <a routerLink="/" class="hidden lg:flex items-center ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
        </svg>

        <span class="self-center text-xl font-bold whitespace-nowrap"
          >E-STORE</span
        >
      </a>
      <ul class="hidden md:flex lg:flex space-x-6">
        <li>
          <a
            routerLink="/"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{exact: true}"
            class="block hover:underline"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{exact: true}"
            class="block hover:underline"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/services"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{exact: true}"
            class="block hover:underline"
            >Services</a
          >
        </li>
        <li *ngIf="user(); else elseBlock">
          <a
            routerLink="/my-account"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{exact: true}"
            class="block hover:underline"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            </a>

        </li>
        <ng-template #elseBlock>
        <li >
          <a
            routerLink="/sign-in"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{exact: true}"
            class="block hover:underline"
            >Sign in</a>

          </li>
        </ng-template>
      </ul>
    </div>
    <div class="flex items-center">
      <button class="p-2 border rounded relative" (click)="toggleCart()">
        <div *ngIf="cart().length"
         class="absolute -top-1 left-1 rounded-full h-5 w-5 bg-black text-white text-xs">
          {{ cart().length }}
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>

<div
  class="fixed border-l-4 top-0 right-0 bg-red z-40 w-80 h-screen p-4 overflow-y-auto transition-transform bg-white"
  [class.translate-x-full]="hideCart()"
>
  <div class="flex justify-between items-center">
    <p class="text-xl">My Cart</p>
    <button (click)="toggleCart()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div *ngIf="cart().length === 0" class="flex flex-col justify-center items-center mt-[70%]">
    <h3 class="mb-8">Your Cart is empty</h3>
    <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
  </div>
  <div  class="pt-4 flex flex-col w-full h-[55%] lg:h-[60%] px-4 overflow-y-auto">
    <div *ngFor="let product of cart()" >

      <div
      class=" flex justify-between items-center space-y-2 mb-1"
      >
      <div class="flex items-center space-x-2 ">
        <figure class="mt-1">
          <img class="h-7 w-7"
          [src]="product.image" [alt]="product.name">
        </figure>
        <p>{{ product.name }}</p>
      </div>
      <p>{{ product.price | currency: 'EUR' }}</p>
    </div>
    <div class="flex">
      <p class="w-[250px] pl-3 border border-gray-300">{{product.quantity}}</p>
      <button (click)="removeProduct(product)" class="w-8 text-xl border border-gray-300" type="button">
        -
      </button>
      <button (click)="addProduct(product)" class="w-8 text-xl border border-gray-300" type="button">
        +
      </button>
    </div>
    </div>

  </div>
  <div *ngIf="cart().length" class="px-4 pb-3">
    <div class="border-t-2 border-b-2 border-black mt-3 py-2">
      <div class="flex justify-between">
        <p>Subtotal</p>
        <p> {{ subtotal() | currency: 'EUR' }}</p>
      </div>
      <div class="flex justify-between">
        <p>Taxes</p>
        <p>€ 0,00</p>
      </div>
      <div class="flex justify-between flex-wrap">
        <p>Shipping</p>
        <p>Calculated at checkout</p>
      </div>
    </div>
    <div class="flex justify-between">
      <p>Total</p>
      <p> {{ subtotal() | currency: 'EUR' }}</p>
    </div>
    <a class="flex justify-center w-52 px-4 py-2 rounded-xl bg-black text-white font-medium mx-auto my-6"
    routerLink="/checkout" (click)="toggleCart()">checkout</a>

  </div>
</div>
