<div class="mb-5 p-3">
  <a routerLink="/" class="flex items-center ">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
    </svg>

    <span class="self-center text-xl font-bold whitespace-nowrap"
      >E-STORE</span
    >
  </a>
</div>

<div class="min-h-full flex items-center justify-center p-5 px-4 sm:px-6 lg:px-8">

  <div class="max-w-md w-full space-y-6">

    <div>
      <h2 class="mt-6 text-center text-xl font-extrabold text-gray-900">
        Forgot your password?
      </h2>
    </div>
    <form [formGroup]="user" (ngSubmit)="sendRecoveryEmail($event)"
      class="mt-8 space-y-6"
    >
      <div class="rounded-md shadow-sm -space-y-px">
        <div class="block"
        [class.hidden]="emailSent()">
          <label htmlFor="email" class="sr-only">
            Email address
          </label>
          <input
          formControlName="email"
            name="email"
            type="email"
            autoComplete="email"
            required
            class="appearance-none rounded-md relative block w-full px-4 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            [class.border-red-700]="invalidEmailField"
            placeholder="email@example.com"
          />
          <p *ngIf="invalidEmailField" class="text-xs text-red-700" >Invalid email</p>
          <span *ngIf="invalidEmail()" class="text-red-700 font-medium text-xs">Invalid email. Please try again</span>
        </div>
      </div>

      <div class="block"
      [class.hidden]="emailSent()"
      >
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-900 hover:bg-gray-700 disabled:opacity-50 disabled:cursor-not-allowed"

        >
          Send Email
        </button>
      </div>
      <div class="flex items-start">
        <a routerLink="/sign-in" class="ms-auto text-sm font-medium text-blue-600 hover:underline ">Back to Sign in</a>
      </div>
    </form>
    <div
      class="w-32 h-32 rounded-full bg-gray-200 mx-auto place-content-center hidden"
      [class.grid]="emailSent()"
    >
      <div class=" h-20 w-20" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
        </svg>

      </div>
    </div>
      <p  *ngIf="emailSent()" class="text-center text-lg font-semibold text-green-700 animate-pulse">
        Email have been successfully sent! <br /> Please Verify your inbox
        or spam folder
      </p>

  </div>
</div>

