<div class="relative grid grid-col-1 place-content-center mt-7 ">
  <h1 class="text-2xl font-semibold text-center">Account</h1>

  <div class=" my-8 mx-auto">
    <h2 class="font-normal capitalize">Hi, user name </h2>
    <div class=" gap-4">

        <figure class="my-5">
          <Img
            class="rounded-full"
            src=""
            width="80px"
            height="80px"
            alt="user-avatar"
          />
        </figure>

      <div class="">
        <p class="my-5 font-light text-gray-700 capitalize">
          <b>Name: </b>
          user name
        </p>
        <p class="my-5 font-light text-gray-700 capitalize">
          <b>Lastname: </b>
          user lastName
        </p>
        <p class="my-5 font-light text-gray-700 capitalize">
          <b>Phone number: </b>
          user phone
        </p>
      </div>
    </div>
  </div>
  <button className="mx-auto rounded-md font-semibold text-lg bg-buttonGreen hover:bg-hoverGreen text-white px-4 py-2">
    Edit my profile
  </button>
