<h3 *ngIf="cart().length === 0; else elseBlock" class="text-center mt-[20%]">There is not pending Order</h3>
<ng-template #elseBlock>
  <div class="mx-auto mt-7 z-0">
    <div class="w-full flex-1 px-4 overflow-auto relative">

      <h1 class="text-center mb-8 font-semibold">My Order</h1>

        <div class="" *ngFor="let item of cart()" >
          <p class="mb-2">{{item.name}}</p>
          <div class="flex justify-between mb-3">
            <Img class="w-12 h-12"
              [src]="item.image"
              [alt]="item.name"
            />
            <p class="text-base">

              {{item.price | currency: 'EUR'}}
            </p>
          </div>

          <div class="flex justify-between px-4">
            <p class="">Quantity:</p>
            <p class="font-semibold">{{item.quantity}}</p>
          </div>
        </div>

    </div>



      <div class="px-4">
        <div class="border-t-2 border-b-2 border-black mt-3 py-2">
          <div class="flex justify-between">
            <p>Tax</p>
            <p> {{ 0 | currency: 'EUR'}}</p>
          </div>
        </div>
        <div class="flex justify-between">
          <p>Total</p>
          <p>{{subtotal() | currency: 'EUR'}}</p>
        </div>
        <div class="flex flex-col justify-between items-center z-0">
          <button (click)="checkout()"
          class="flex justify-center w-52 px-4 py-2 rounded-xl bg-black text-white font-medium mx-auto my-6 hover:bg-gray-500 duration-150 active:scale-50"
          >Payment</button>
          <div class="w-full flex items-center justify-center my-6">
          </div>

        </div>
      </div>

  </div>
</ng-template>
